/*
Error: Undefined mixin 'transition'.
        on line 32 of /Users/askie/Desktop/work/web/webChallengeHausenn/sass/partials/_parellaxSetting.scss, in `transition'
        from line 32 of /Users/askie/Desktop/work/web/webChallengeHausenn/sass/partials/_parellaxSetting.scss
        from line 6 of /Users/askie/Desktop/work/web/webChallengeHausenn/sass/hausennParallax.scss

27:       //調整base層的排列
28:       @include mediaquery_ipadpro {
29:          //height 設計圖沒給，直接用100%後的圖片高度
30:          height: 230px;
31:       }
32:       @include mediaquery_phone {
33:          //height 設計圖沒給，直接用100%後的圖片高度
34:          height: 113px;
35:       }
36:       .parallax__baselayer {
37:          position: relative;

Backtrace:
/Users/askie/Desktop/work/web/webChallengeHausenn/sass/partials/_parellaxSetting.scss:32:in `transition'
/Users/askie/Desktop/work/web/webChallengeHausenn/sass/partials/_parellaxSetting.scss:32
/Users/askie/Desktop/work/web/webChallengeHausenn/sass/hausennParallax.scss:6
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:98:in `with_mixin'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:88:in `block in with_import'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:88:in `with_import'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/askie/.rvm/gems/ruby-2.5.1/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 32 of /Users/askie/Desktop/work/web/webChallengeHausenn/sass/partials/_parellaxSetting.scss, in `transition'\A         from line 32 of /Users/askie/Desktop/work/web/webChallengeHausenn/sass/partials/_parellaxSetting.scss\A         from line 6 of /Users/askie/Desktop/work/web/webChallengeHausenn/sass/hausennParallax.scss\A \A 27:       //調整base層的排列\A 28:       @include mediaquery_ipadpro {\A 29:          //height 設計圖沒給，直接用100%後的圖片高度\A 30:          height: 230px;\A 31:       }\A 32:       @include mediaquery_phone {\A 33:          //height 設計圖沒給，直接用100%後的圖片高度\A 34:          height: 113px;\A 35:       }\A 36:       .parallax__baselayer {\A 37:          position: relative;"; }
