@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300|Open+Sans:300");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  cursor: pointer;
}

.kerwayWelcome {
  width: 100%;
  position: relative;
  left: 0;
}
.kerwayWelcome.appear {
  left: -100%;
  transition-property: left;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 0.54);
  transition-delay: 0s;
}

.kerwayPhotoBg {
  background: url(../images/kerway/header_photo_background.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100vh;
}

.kerwayLogo::before, .kerwayLogo::after {
  content: "";
  display: block;
  width: 175px;
  height: 1px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  bottom: 50%;
}
@media all and (max-width: 375px) {
  .kerwayLogo::before, .kerwayLogo::after {
    display: none;
  }
}

.kerwayLogo::before {
  left: 250px;
}

.kerwayLogo::after {
  right: 250px;
}

.kerwayLogo img {
  width: 50vw;
  max-width: 510px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
@media all and (max-width: 375px) {
  .kerwayLogo img {
    width: 80vw;
  }
}

.arrow img {
  width: 24px;
  height: 34px;
  position: absolute;
  bottom: 72px;
  right: 0;
  left: 0;
  margin: auto;
  animation: upDown 1s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.concept, footer {
  margin: 0 100px;
  max-width: 100%;
}
@media all and (max-width: 375px) {
  .concept, footer {
    margin: 0 20px;
    max-width: 356.25px;
  }
}
@media all and (max-width: 768px) {
  .concept, footer {
    max-width: 614.4px;
  }
}
@media all and (max-width: 1024px) {
  .concept, footer {
    max-width: 819.2px;
  }
}
@media all and (max-width: 1366px) {
  .concept, footer {
    max-width: 1092.8px;
  }
}

.menu .menuNav, .menu .menuNavTop__mainBrand, .menu .menuNavTop__subBrand, .menu .menuNavMiddle a img, .menu .menuNavBottom__socialMedia {
  transform: translateX(-590px);
}

.menu.menuAppear, .menu.menuAppear .menuNav, .menu.menuAppear .menuNavTop__mainBrand, .menu.menuAppear .menuNavTop__subBrand, .menu.menuAppear .menuNavMiddle a img, .menu.menuAppear .menuNavBottom .menuNavBottom__socialMedia {
  transform: translateX(0);
}

.menu {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}
.menu a {
  position: relative;
  color: #fff;
}
.menu a:hover img, .menu a:hover i {
  opacity: .6;
  transition: opacity .2s;
}
.menu.menuAppear {
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
.menu .menuNav {
  width: 590px;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px 90px 125px 145px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .menu .menuNav {
    width: 100%;
    height: 100%;
    padding: 80px 20px 50px;
  }
}
.menu .menuNavTop {
  display: flex;
  flex-direction: column;
  font-size: 0;
}
.menu .menuNavTop a + a {
  padding-left: 32px;
}
.menu .menuNavTop a + a:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  left: 15px;
}
.menu .menuNavTop img {
  height: auto;
}
.menu img {
  max-width: 100%;
  height: 100%;
}
.menu .menuNavTop__housennCamp {
  display: block;
  max-width: 47%;
  margin-bottom: 15px;
}
.menu .menuNavTop__brandLink img:nth-child(2) {
  display: none;
  position: absolute;
  height: 70%;
  top: 150%;
  left: 0;
  right: 0;
  margin: auto;
}
.menu .menuNavTop__brandLink:hover img:nth-child(2) {
  display: block;
}
.menu .menuNavTop__brandLink + a img:nth-child(2) {
  padding-left: 30px;
}
.menu .menuNavTop__mainBrand {
  transition: transform .2s 0s;
}
.menu .menuNavTop__subBrand {
  display: flex;
  align-items: flex-end;
  transition: transform .2s .1s;
}
.menu .menuNavMiddle a {
  display: block;
  height: 40px;
}
.menu .menuNavMiddle a:nth-child(1) img {
  transition: transform .2s .2s;
}
.menu .menuNavMiddle a:nth-child(2) img {
  transition: transform .2s .3s;
}
.menu .menuNavMiddle a:nth-child(3) img {
  transition: transform .2s .4s;
}
@media all and (max-width: 768px) {
  .menu .menuNavMiddle a {
    height: 35px;
  }
}
.menu .menuNavMiddle a + a {
  margin-top: 48px;
}
@media all and (max-width: 768px) {
  .menu .menuNavMiddle a + a {
    margin: 40px 0;
  }
}
.menu .menuNavMiddle .menuNavMiddle__contactLink {
  visibility: hidden;
}
@media all and (max-width: 768px) {
  .menu .menuNavMiddle .menuNavMiddle__contactLink {
    visibility: visible;
  }
}
.menu .menuNavBottom a {
  font-size: 1.2rem;
}
.menu .menuNavBottom a + a {
  padding-left: 10px;
}
.menu .menuNavBottom:nth-child(2) {
  padding: 0 2px 0 12px;
}
.menu .menuNavBottom__socialMedia {
  transition: transform .2s .4s;
}
@media all and (max-width: 768px) {
  .menu .menuNavBottom__socialMedia {
    transition: transform .2s .5s;
  }
}

.switchIconBox {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 39px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  transition: background-color 800ms ease-in;
  cursor: pointer;
  z-index: 10;
}
.switchIconBox.appear {
  display: block;
  height: 20px;
  width: 20px;
}
.switchIconBox.appear .switchIcon {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 9px;
}
.switchIconBox.appear .switchIcon:first-child {
  transform: rotate(45deg);
}
.switchIconBox.appear .switchIcon:last-child {
  transform: rotate(-45deg);
}
.switchIconBox.appear .switchIcon::before, .switchIconBox.appear .switchIcon::after {
  content: none;
}
.switchIconBox.black .switchIcon {
  background: #000;
}
.switchIconBox.black .switchIcon::before, .switchIconBox.black .switchIcon::after {
  background: #000;
}

@media all and (max-width: 768px) {
  .switchIconBox {
    top: 25px;
    left: 25px;
  }
}
.switchIcon {
  width: 17px;
  height: 3px;
  background-color: #fff;
  transition: transform 500ms ease-in,background-color 500ms ease-in;
}
.switchIcon::before, .switchIcon::after {
  content: '';
  width: 17px;
  height: 3px;
  background: #fff;
  position: absolute;
}
.switchIcon::before {
  top: 0;
}
.switchIcon::after {
  bottom: 0;
}

.kerwayContact {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1439539698758-ba2680ecadb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat;
  background-size: cover;
  left: 100vw;
  transition-property: left;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 0.54);
  transition-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
}
.kerwayContact.appear {
  left: 0;
}
.kerwayContact:after {
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}
.kerwayContact .goToContactUs {
  position: fixed;
  right: 0;
  bottom: 50%;
  margin: auto;
  cursor: pointer;
}
.kerwayContact .goToContactUs img {
  width: 100px;
  height: 164px;
}
@media all and (max-width: 375px) {
  .kerwayContact .goToContactUs img {
    display: none;
  }
}
.kerwayContact .goToContactUs.black img {
  filter: invert(1);
  -webkit-filter: invert(1);
}
.kerwayContact h2 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
}
.kerwayContact h3 {
  position: relative;
  z-index: 1;
  font-size: 2rem;
}

.parallax {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}
.parallax__group {
  position: relative;
  transform-style: preserve-3d;
}
.parallax__baselayer {
  position: relative;
  transform: translateZ(0px) scale(1);
}
.parallax__firstlayer {
  transform: translateZ(-0.2px) scale(1.2);
}
.parallax__secendlayer {
  transform: translateZ(-0.4px) scale(1.4);
}

.concept .title {
  margin: 50px auto 175px;
  background-image: url("../images/kerway/banner_title.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 192px;
  height: 32px;
}
@media all and (max-width: 1024px) {
  .concept .title {
    margin: 35px auto;
    width: 139px;
    height: 23px;
  }
}
.concept .mainSeparate {
  width: 36px;
  height: 4px;
  background-color: black;
  margin-right: 110px;
}
@media all and (max-width: 1024px) {
  .concept .mainSeparate {
    width: 21px;
    height: 2px;
    margin-right: 40px;
  }
}
.concept .secondaryPicTop {
  width: 390px;
  height: 520px;
  background-image: url("../images/kerway/banner_img41.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 30%;
}
@media all and (max-width: 1024px) {
  .concept .secondaryPicTop {
    width: 150px;
    height: 200px;
    right: 33%;
  }
}
.concept .secondaryArticle {
  font-size: 12pt;
  line-height: 24pt;
  letter-spacing: 2pt;
  width: 325px;
  position: relative;
  top: 360px;
  left: 70px;
}
@media all and (max-width: 1024px) {
  .concept .secondaryArticle {
    font-size: 10pt;
    line-height: 16pt;
    top: 360px;
    width: 100%;
    left: 0;
  }
}
.concept .mainTitle {
  position: absolute;
  top: -300px;
  right: 9%;
  font-size: 44pt;
  line-height: 65pt;
  letter-spacing: 2pt;
  text-align: right;
}
@media all and (max-width: 1024px) {
  .concept .mainTitle {
    font-size: 21pt;
    line-height: 35pt;
    top: -180px;
  }
}
.concept .secondaryTitle {
  font-size: 44pt;
  line-height: 65pt;
  letter-spacing: 3pt;
  position: absolute;
  top: -715px;
  left: 6%;
}
@media all and (max-width: 1024px) {
  .concept .secondaryTitle {
    font-size: 21pt;
    line-height: 35pt;
    letter-spacing: 2pt;
    top: -70px;
    left: 0;
  }
}
.concept .secondaryPicSecond {
  position: absolute;
  top: -650px;
  right: 10%;
  width: 390px;
  height: 520px;
  background-image: url("../images/kerway/banner_img42.png");
  background-position: center;
  background-size: cover;
}
@media all and (max-width: 1024px) {
  .concept .secondaryPicSecond {
    width: 150px;
    height: 200px;
    top: -175px;
    right: 25%;
  }
}
.concept .mainPic {
  width: 100%;
  height: 643px;
  background-image: url("../images/kerway/banner_img1.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -825px;
}
@media all and (max-width: 1024px) {
  .concept .mainPic {
    height: calc(345px * 0.55);
    top: -313px;
  }
}
.concept .mainSubtitle {
  font-size: 14pt;
  line-height: 24pt;
  letter-spacing: 3pt;
  text-align: right;
  position: absolute;
  top: 130px;
  right: 10%;
}
@media all and (max-width: 1024px) {
  .concept .mainSubtitle {
    font-size: 12pt;
    top: 45px;
  }
}
.concept .secondarySubtitle {
  position: relative;
  top: -550px;
  left: 310px;
  width: 150px;
  font-size: 19pt;
  line-height: 38pt;
  letter-spacing: 3pt;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
@media all and (max-width: 1024px) {
  .concept .secondarySubtitle {
    font-size: 12pt;
    line-height: 24pt;
    top: 40px;
    left: 33%;
  }
}
.concept .secondarySeparate {
  position: absolute;
  top: -360px;
  left: 0;
  width: 36px;
  height: 4px;
  background-color: black;
}
@media all and (max-width: 1024px) {
  .concept .secondarySeparate {
    width: 21px;
    height: 2px;
    top: 140px;
  }
}
.concept .secondaryPicBottom {
  position: absolute;
  top: -540px;
  right: -5%;
  width: 390px;
  height: 520px;
  background-image: url("../images/kerway/banner_img43.png");
  background-position: center;
  background-size: cover;
}
@media all and (max-width: 1024px) {
  .concept .secondaryPicBottom {
    width: 150px;
    height: 200px;
    top: -156px;
    right: 18%;
  }
}

.mainBaselayer {
  height: calc(643px + 400px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media all and (max-width: 1024px) {
  .mainBaselayer {
    height: calc(345px * 0.55 + 150px);
  }
}

.secondary {
  display: flex;
  margin-top: 450px;
}
@media all and (max-width: 1024px) {
  .secondary {
    margin-top: 0;
    flex-direction: column;
  }
}
.secondary__text {
  width: 50%;
}
@media all and (max-width: 1024px) {
  .secondary__text {
    width: 100%;
    order: 2;
  }
}
.secondary__pic {
  width: 50%;
}
@media all and (max-width: 1024px) {
  .secondary__pic {
    width: 100%;
    order: 1;
  }
}

.secondaryPicBaselayer,
.secondaryTextBaselayer {
  height: calc(165px + 200px + 230px + 100px + 100px);
}

@media all and (max-width: 1024px) {
  .secondaryPicBaselayer {
    height: 200px;
    margin-top: 300px;
  }
}

@media all and (max-width: 1024px) {
  .secondaryTextBaselayer {
    height: 200px;
  }
}

.kerwayWorks {
  background-color: #000;
}

.kerwayWorksTitel {
  box-sizing: border-box;
  padding: 50px 0px;
}

.kerwayWorksTitel > img {
  width: 192px;
  height: 32px;
  margin: 0 auto;
}

.kerwayFilterTitel {
  margin-left: 50px;
}

.kerwayFilterTitel > div:nth-child(1) {
  width: 150px;
  height: 16px;
  background: #fff;
  margin-bottom: 30px;
}

.kerwayFilterTitel > div:nth-child(2) {
  font-size: 40px;
  font-family: Open;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 30px;
}

.kerwayFilterTitel > div:nth-child(3) {
  font-size: 32px;
  font-family: Noto;
  letter-spacing: 4px;
  color: #fff;
}

#MasonryLayout {
  margin: 0 100px;
  z-index: 1;
}

.MasonryLayoutItem {
  width: 350px;
  margin-bottom: 50px;
  overflow: hidden;
}

.MasonryLayoutItem > img {
  width: 100%;
}

/********************************/
#filter {
  position: fixed;
  bottom: 50vh;
  z-index: 2;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 100px;
}

center {
  position: relative;
}

.left {
  float: left;
  z-index: 5;
}

.right {
  float: right;
  z-index: 5;
}

#menuContainer {
  width: 176.25px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -100;
  z-index: 4;
  transition: bottom 0.2s;
}

#menuContainer:hover {
  bottom: 100vh;
}

#menuContainer > a {
  color: #000;
  background-color: #fff;
}

#menu * {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#menu {
  position: fixed;
  bottom: 0vh;
  z-index: 2;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 100px;
}

#menu > ul {
  display: flex;
  justify-content: flex-end;
}

#menu > ul > li {
  width: 176.25px;
  height: 52px;
  line-height: 52px;
  margin-left: 45px;
}

#menu a {
  display: block;
  text-decoration: none;
}

center {
  /* added this rule to make it above the submenu */
  position: relative;
  z-index: 3;
}

center a {
  /* added this rule to make it above the submenu */
  color: #fff;
  letter-spacing: 4px;
}

#menu center:hover {
  background: #fff;
}

/* changed this rule and the next to use the center tag rather than the anchor */
#menu ul li ul li a:hover {
  background: gray;
}

#menu ul li ul li {
  border: none;
  color: #fff;
  z-index: 98;
  background: #fff;
}

#menu ul li ul li a {
  color: #000;
}

#menu li {
  position: relative;
}

#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul {
  visibility: hidden;
  /* Had to change display none to visibility:hidden */
  position: absolute;
  list-style-type: none;
}

#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul {
  visibility: visible;
}

/* Same here */
#menu:hover ul li:hover ul li:hover ul {
  position: absolute;
}

#menu:hover ul li:hover ul {
  position: absolute;
  margin-top: 1px;
}

/* added rule */
#menu > ul > li > ul {
  bottom: 0;
  z-index: 98;
  transition: bottom 0.2s;
}

#menu > ul > li:hover > ul {
  bottom: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 75px 0 65px;
  font-size: .8rem;
  letter-spacing: .13rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}
footer a {
  display: block;
}
footer img {
  max-width: 100%;
  height: 50px;
}
@media all and (max-width: 768px) {
  footer img {
    height: 23px;
    margin-bottom: 25px;
  }
}
footer .footerMailPhone {
  margin-top: .5rem;
  font-family: 'Noto Sans TC', sans-serif;
}
@media all and (max-width: 768px) {
  footer .footerMailPhone {
    margin: 0 0 25px;
  }
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-basis: 100%;
}
@media all and (max-width: 768px) {
  footer > div:first-child {
    flex-direction: column-reverse;
  }
}
footer .footerContactAddress {
  font-family: ‘a-otf-futo-min-a101-pr6n’, serif;
}
footer .footerBrandBox {
  margin-top: .2rem;
  align-items: flex-end;
}
@media all and (max-width: 768px) {
  footer .footerBrandBox {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
}
footer .footerCopyright {
  font-family: 'Open Sans', sans-serif;
}
@media all and (max-width: 768px) {
  footer .footerCopyright {
    font-size: .7rem;
  }
}
footer .footerCopyright__sign {
  font-family: initial;
  font-size: .85rem;
}
