* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  cursor: pointer;
}

.kerwayWelcome {
  width: 100vw;
  position: relative;
  left: 0;
}
.kerwayWelcome.appear {
  left: -100vw;
  transition-property: left;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 0.54);
  transition-delay: 0s;
}

.kerwayPhotoBg {
  background: url(../images/kerway/header_photo_background.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 100vh;
}

.kerwayLogo::before, .kerwayLogo::after {
  content: "";
  display: block;
  width: 175px;
  height: 1px;
  overflow: hidden;
  background: #fff;
  position: absolute;
  bottom: 50%;
}
@media all and (max-width: 375px) {
  .kerwayLogo::before, .kerwayLogo::after {
    display: none;
  }
}

.kerwayLogo::before {
  left: 250px;
}

.kerwayLogo::after {
  right: 250px;
}

.kerwayLogo img {
  width: 50vw;
  max-width: 510px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
@media all and (max-width: 375px) {
  .kerwayLogo img {
    width: 80vw;
  }
}

.goToContactUs {
  position: fixed;
  right: 0;
  bottom: 50%;
  margin: auto;
  cursor: pointer;
}
.goToContactUs img {
  width: 100px;
  height: 164px;
}
@media all and (max-width: 375px) {
  .goToContactUs img {
    display: none;
  }
}

.arrow img {
  width: 24px;
  height: 34px;
  position: absolute;
  bottom: 72px;
  right: 0;
  left: 0;
  margin: auto;
  animation: upDown 1s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.menu .menuNav, .menu .menuNavTop__mainBrand, .menu .menuNavTop__subBrand, .menu .menuNavMiddle a img, .menu .menuNavBottom__socialMedia {
  transform: translateX(-590px);
}

.menu.menuAppear, .menu.menuAppear .menuNav, .menu.menuAppear .menuNavTop__mainBrand, .menu.menuAppear .menuNavTop__subBrand, .menu.menuAppear .menuNavMiddle a img, .menu.menuAppear .menuNavBottom .menuNavBottom__socialMedia {
  transform: translateX(0);
}

.menu {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}
.menu a {
  position: relative;
  color: #fff;
}
.menu a:hover img, .menu a:hover i {
  opacity: .6;
  transition: opacity .2s;
}
.menu.menuAppear {
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
.menu .menuNav {
  width: 590px;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px 90px 125px 145px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .menu .menuNav {
    width: 100%;
    height: 100%;
    padding: 80px 20px 50px;
  }
}
.menu .menuNavTop {
  display: flex;
  flex-direction: column;
  font-size: 0;
}
.menu .menuNavTop a + a {
  padding-left: 32px;
}
.menu .menuNavTop a + a:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  left: 15px;
}
.menu .menuNavTop img {
  height: auto;
}
.menu img {
  max-width: 100%;
  height: 100%;
}
.menu .menuNavTop__housennCamp {
  display: block;
  max-width: 47%;
  margin-bottom: 15px;
}
.menu .menuNavTop__brandLink img:nth-child(2) {
  display: none;
  position: absolute;
  height: 70%;
  top: 150%;
  left: 0;
  right: 0;
  margin: auto;
}
.menu .menuNavTop__brandLink:hover img:nth-child(2) {
  display: block;
}
.menu .menuNavTop__brandLink + a img:nth-child(2) {
  padding-left: 30px;
}
.menu .menuNavTop__mainBrand {
  transition: transform .2s 0s;
}
.menu .menuNavTop__subBrand {
  display: flex;
  align-items: flex-end;
  transition: transform .2s .1s;
}
.menu .menuNavMiddle a {
  display: block;
  height: 40px;
}
.menu .menuNavMiddle a:nth-child(1) img {
  transition: transform .2s .2s;
}
.menu .menuNavMiddle a:nth-child(2) img {
  transition: transform .2s .3s;
}
.menu .menuNavMiddle a:nth-child(3) img {
  transition: transform .2s .4s;
}
@media all and (max-width: 768px) {
  .menu .menuNavMiddle a {
    height: 35px;
  }
}
.menu .menuNavMiddle a + a {
  margin-top: 48px;
}
@media all and (max-width: 768px) {
  .menu .menuNavMiddle a + a {
    margin: 40px 0;
  }
}
.menu .menuNavMiddle .menuNavMiddle__contactLink {
  visibility: hidden;
}
@media all and (max-width: 768px) {
  .menu .menuNavMiddle .menuNavMiddle__contactLink {
    visibility: visible;
  }
}
.menu .menuNavBottom a {
  font-size: 1.2rem;
}
.menu .menuNavBottom a + a {
  padding-left: 10px;
}
.menu .menuNavBottom:nth-child(2) {
  padding: 0 2px 0 12px;
}
.menu .menuNavBottom__socialMedia {
  transition: transform .2s .4s;
}
@media all and (max-width: 768px) {
  .menu .menuNavBottom__socialMedia {
    transition: transform .2s .5s;
  }
}

.switchIconBox {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 39px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  transition: background-color 800ms ease-in;
  cursor: pointer;
  z-index: 10;
}
.switchIconBox.appear {
  display: block;
  height: 20px;
  width: 20px;
}
.switchIconBox.appear .switchIcon {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 9px;
}
.switchIconBox.appear .switchIcon:first-child {
  transform: rotate(45deg);
}
.switchIconBox.appear .switchIcon:last-child {
  transform: rotate(-45deg);
}
.switchIconBox.appear .switchIcon::before, .switchIconBox.appear .switchIcon::after {
  content: none;
}

@media all and (max-width: 768px) {
  .switchIconBox {
    top: 25px;
    left: 25px;
  }
}
.switchIcon {
  width: 17px;
  height: 3px;
  background-color: #fff;
  transition: transform 500ms ease-in,background-color 500ms ease-in;
}
.switchIcon::before, .switchIcon::after {
  content: '';
  width: 17px;
  height: 3px;
  background: #fff;
  position: absolute;
}
.switchIcon::before {
  top: 0;
}
.switchIcon::after {
  bottom: 0;
}

.kerwayContact {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1439539698758-ba2680ecadb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat;
  background-size: cover;
  left: 100vw;
  transition-property: left;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 0.54);
  transition-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
}
.kerwayContact.appear {
  left: 0;
}
.kerwayContact:after {
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
}
.kerwayContact h2 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
}
.kerwayContact h3 {
  position: relative;
  z-index: 1;
  font-size: 2rem;
}
