
.kerwayWorks{
	background-color: #000;
}
.kerwayWorksTitel{
	box-sizing: border-box;
	padding: 50px 0px;
}
.kerwayWorksTitel>img{
	width: 192px;
	height: 32px;
	margin: 0 auto;
}
.kerwayFilterTitel{
	margin-left: 50px;
}
.kerwayFilterTitel>div:nth-child(1){
	width: 150px;
	height: 16px;
	background: #fff;
	margin-bottom: 30px;
}
.kerwayFilterTitel>div:nth-child(2){
	font-size: 40px;
	font-family: Open;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fff;
	margin-bottom: 30px;
}
.kerwayFilterTitel>div:nth-child(3){
	font-size: 32px;
	font-family: Noto;
	letter-spacing: 4px;
	color: #fff;
}

#MasonryLayout{
	margin: 0 100px;
	z-index: 1;
}
.MasonryLayoutItem{
	width:350px;
	margin-bottom: 50px;
	overflow: hidden;
}
.MasonryLayoutItem > img{
	width: 100%;
}

/********************************/
#filter{
	position: fixed;
	bottom: 50vh;
	z-index: 2;
	width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 100px;
	// display: flex;
	// justify-content: space-between;
	// color: #fff;
}
center{
	position: relative;
	// display: flex;
	// justify-content: space-between;
	// color: #fff;
}
.left{
	float: left;
	z-index: 5;
}
.right{
	float: right;
	z-index: 5;

}
#menuContainer{
	width: 176.25px;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: -100;
	z-index: 4;
	transition: bottom 0.2s;
}
#menuContainer:hover{
	bottom: 100vh;
}
#menuContainer > a{
	color: #000;
	background-color: #fff;
}

// body{padding: 3em; }
#menu *{
  padding:0;
  margin: 0;
  list-style-type:none;
}
#menu {
	position: fixed;
	bottom: 0vh;
	z-index: 2;
	width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 100px;
}
#menu > ul{
	display: flex;
	justify-content: flex-end;
}
#menu > ul > li {
	width: 176.25px;
  height: 52px;
  line-height: 52px;
	// background: rgba(0, 0, 0, 0.5);
	margin-left: 45px;
}
#menu a{
  display: block;
  text-decoration: none;
}


center { /* added this rule to make it above the submenu */
  position: relative;
  z-index: 3;
}
center a{ /* added this rule to make it above the submenu */
		color:#fff;
		letter-spacing: 4px;
}
#menu center:hover {
	background: #fff;
} /* changed this rule and the next to use the center tag rather than the anchor */
#menu center {
	// transition:background-color 0.2s;
}
#menu ul li ul li a:hover {
    background: gray;
}
#menu ul li ul li {
    border: none;
    color: #fff;
    z-index:98;
		background: #fff;
}
#menu ul li ul li a {
	color:#000;
}
#menu ul li {
    // width: 146px;
    // background: #979E71;
}
#menu ul li a {
    // padding: 15px 10px;
}
#menu li{
    position:relative;
}
#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul{
    visibility:hidden; /* Had to change display none to visibility:hidden */
    position:absolute;
    list-style-type:none;
    // width: 140px;
}
#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul {
    visibility:visible;
} /* Same here */
#menu:hover ul li:hover ul li:hover ul {
    position: absolute;
    // margin-left: 145px;
    // margin-top: -22px;
}
#menu:hover ul li:hover ul {
    position: absolute;
    margin-top: 1px;

}

/* added rule */
#menu>ul>li>ul {
    bottom:0;
    z-index:98;
    transition: bottom 0.2s;
}
#menu>ul>li:hover>ul {
    bottom:100%;
}
