@import "./partials/_normalize.scss";
@import "./modules/_mixinMediaquery.scss";
@import "./modules/_extendClass.scss";
.hausennFashionShow {
   width: 100%;
   height: 100vh;
   background-color: #F5EEF1;
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   position: fixed;
   top: 0;
   right: -100%;
   // right:0;
   transition-property: right;
   transition-duration: 0.5s;
   transition-timing-function: cubic-bezier(0.4, 0, 1, 0.54);
   z-index: 3;
   @include mediaquery_ipadpro {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
   }
   .hausennFashionShowClose {
      font-size: 20px;
      position: absolute;
      top: 20px;
      left: 20px;
   }
   &__menu {
      width: 25vw;
      padding-top: 15vh;
      padding-left: 30px;
      position: relative;
      @include mediaquery_ipadpro {
         // padding-top: 0;
         width: 80vw;
      }
      &__sort {
         font-family: 'Open Sans', sans-serif;
         &__title {
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 5px;
            cursor: pointer;
            margin: 10px 0;
            &:hover {
               opacity: 0.4;
            }
         }
         &__mainmenu {
            display: none;
            padding-left: 10px;
            margin: 10px 0;
            @include mediaquery_ipadpro {
               position: absolute;
               bottom: -65vh;
               left: -10vw;
               background-color: white;
               width: 100vw;
               text-align: center;
               z-index: 3;
               margin: 10px 0 0;
            }
            &__item {
               &__title {
                  font-weight: 500;
                  font-size: 12px;
                  letter-spacing: 3px;
                  line-height: 18px;
                  cursor: pointer;
                  &:hover {
                     opacity: 0.4;
                  }
                  @include mediaquery_ipadpro {
                     line-height: 30px;
                  }
               }
               &__submenu {
                  display: none;
                  margin: 10px 0;
                  li {
                     padding-left: 41px;
                     line-height: 18px;
                     cursor: pointer;
                     &:hover {
                        opacity: 0.4;
                     }
                     @include mediaquery_ipadpro {
                        padding-left: 0;
                     }
                  }
               }
            }
         }
         .activeItem {
            opacity: 0.4;
         }
      }
   }
   &__lightbox {
      width: 65vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      @include mediaquery_ipadpro {
         width: 80vw;
      }
      &__expand {
         display: flex;
         width: 60vw;
         height: 75vh;
         overflow-x: hidden;
         padding: 10vh 2vw 0;
         @include mediaquery_ipadpro {
            padding: 8vh 1vw 0;
            width: 70vw;
            height: 40vh;
         }
         img {
            height: 60vh;
            width: 58vw;
            object-fit: cover;
            object-position: 50% 50%;
            display: none;
            @include mediaquery_ipadpro {
               width: 68vw;
               height: 30vh;
            }
         }
         .displaySlide {
            display: block;
         }
      }
      &__controlLeft {
         position: absolute;
         bottom: 17vh;
         left: -2vw;
         font-size: 30px;
         font-weight: 600;
         cursor: pointer;
         @include mediaquery_ipadpro {
            bottom: -13vh;
            left: -7vw;
            font-size: 25px;
         }
      }
      &__controlRight {
         position: absolute;
         bottom: 17vh;
         right: -2vw;
         font-size: 30px;
         font-weight: 600;
         cursor: pointer;
         @include mediaquery_ipadpro {
            bottom: -13vh;
            right: -7vw;
            font-size: 25px;
         }
      }
      &__choose {
         height: 15vh;
         width: 100%;
         overflow-x: hidden;
         @include mediaquery_ipadpro {
            position: absolute;
            bottom: -23vh;
         }
         &__container {
            display: flex;
            transition: transform 1s;
            transform: translateX(0);
         }
         img {
            width: 10vw;
            height: 10vh;
            object-fit: cover;
            object-position: center;
            margin-right: 1vw;
            -webkit-filter:brightness(.5);
            &:hover {
               -webkit-filter:brightness(1);
            }
            @include mediaquery_ipadpro {
               width: 15vw;
               margin-right: 1.25vw;
               height: 5vh;
            }
         }
         .activeImg {
            -webkit-filter:brightness(1);
         }
      }
   }
}
.menucontrolOpen {
   display: block;
}
//小圖左右點擊
.containerToRight {
   transform: translateX(-101%);
}
//移入畫面
.moveToPage {
   right: 0;
}
