@import '../modules/mixinMediaquery';
@import '../modules/extendClass';

.menu {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  
  a {
    position: relative;
    color: #fff;

    &:hover {
      img, i {
        opacity: .6;
        transition: opacity .2s;
      }
    }
    &.menuNavLocation {
      opacity: .6;

      &:hover {
        opacity: inherit;
      }
    }
  }
  
  &.menuAppear {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    @extend %menuAppearPosition;
    
    .menuNav, .menuNavTop__mainBrand,.menuNavTop__subBrand, {
      @extend %menuAppearPosition;
    }

    .menuNavMiddle a img, .menuNavBottom .menuNavBottom__socialMedia {
      @extend %menuAppearPosition;
    }
  }


  //whole nav
  .menuNav {
    width: 590px;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 90px 125px 145px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @extend %menuHidePosition;
  }

  @include mediaquery_ipad {
    .menuNav {
      width: 100%;
      height: 100%;
      padding: 80px 20px 50px;
    }
  }


  //top
  .menuNavTop {
    display: flex;
    flex-direction: column;
    font-size: 0;

    a + a {
      padding-left: 32px;

      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #fff;
        left: 15px;
      }
    }

    img {
      height: auto;
    }
  }

  img {
    max-width: 100%;
    height: 100%;
  }

  .menuNavTop__housennCamp {
    display: block;
    max-width: 47%;
    margin-bottom: 15px;
  }

  .menuNavTop__brandLink {

    img:nth-child(2) {
      display: none;
      position: absolute;
      height: 70%;
      top: 150%;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:hover {
      img:nth-child(2) {
        display: block;
      }
    }
  }

  .menuNavTop__brandLink + a {
    img:nth-child(2) {
      padding-left: 30px;
    }
  }

  .menuNavTop__mainBrand {
    @extend %menuHidePosition;
    transition: transform .2s 0s;
  }

  .menuNavTop__subBrand {
    display: flex;
    align-items: flex-end;
    @extend %menuHidePosition;
    transition: transform .2s .1s;
  }

  

  //middle
  .menuNavMiddle {
    a {
      display: block;
      height: 40px;

      img {
        @extend %menuHidePosition;
      }

      &:nth-child(1) img{
        transition: transform .2s .2s;
      }

      &:nth-child(2) img{
        transition: transform .2s .3s;
      }

      &:nth-child(3) img{
        transition: transform .2s .4s;
      }

      
    }

    @include mediaquery_ipad {
      a {
        height: 35px;
      }
    }

    a + a {
      margin-top: 48px;
    }

    @include mediaquery_ipad {
      a + a {
        margin: 40px 0;
      }
    }

    .menuNavMiddle__contactLink {
      visibility: hidden;
    }

    @include mediaquery_ipad {
      .menuNavMiddle__contactLink {
        visibility: visible;
      }
    }

  }



  //bottom
  .menuNavBottom {
    a {
      font-size: 1.2rem;

    }
    a + a {
      padding-left: 10px;
    }

    &:nth-child(2) {
      padding: 0 2px 0 12px;
    }
  }

  .menuNavBottom__socialMedia {
    @extend %menuHidePosition;
    transition: transform .2s .4s;
  }

  @include mediaquery_ipad {
    .menuNavBottom__socialMedia {
      transition: transform .2s .5s;
    }
  }
}

// menu icon
.switchIconBox{
  position: absolute;
  left: 50px;
  top: 50px;
  width: 39px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  transition: background-color 800ms ease-in;
  cursor: pointer;
  z-index: 10;

  &.appear {
    display: block;
    height: 20px;
    width: 20px;

    .switchIcon {
      width: 20px;
      height: 2px;
      position: absolute;
      top: 9px;

      &:first-child{
        transform: rotate(45deg);
      }
  
      &:last-child{
        transform: rotate(-45deg);
      }

      &::before,
      &::after{
          content: none;
      }
    }
  }

  &.black {
    .switchIcon {
      background: #000;

      &::before, &::after {
        background: #000;
      }
    }
  }
}

@include mediaquery_ipad {
  .switchIconBox {
    top: 25px;
    left: 25px;
  }
}



.switchIcon{
  width: 17px;
  height: 3px;
  background-color: #fff;
  transition: transform 500ms ease-in,background-color 500ms ease-in;

  &::before, &::after {
    content: '';
    width: 17px;
    height: 3px;
    background: #fff;
    position: absolute;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

}