%container--fixed{
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  @include mediaquery_phone{
    max-width: $width--phone * 0.95;
  }
  @include mediaquery_minipad{
    max-width: $width--ipad * 0.8;
  }
  @include mediaquery_pad{
    max-width: $width--ipadpro * 0.8;
  }
  @include mediaquery_pc{
    max-width: $width--pc * 0.8;
  }
}

%menuHidePosition {
  transform: translateX(-590px);
}
%menuAppearPosition {
  transform: translateX(0);
}